<html>
<head>
    <title>Registration Data</title>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
    form{
        border: 2px red solid;
        padding: 20px;
        border-radius: 20px;
        margin-top: 30px;
        background-color: orchid;
    }
    h3{
        text-align: center;
    }
    body{
        background-color: dodgerblue;
    }
</style>
</head>

<body>
<div class="container">
    <div class="row">
        <div class="col-md-5">
            <form method="POST">
                <h3 class="bg-primary text-white">Please Register here.....</h3>
                {% csrf_token %}
                {{ form }}<br>
                <center>
                <input type="submit" value="Submit" class="btn btn-success">
                <input type="reset" value="Clear" class="btn btn-danger">
                </center>
            </form>
        </div>
    </div>
</div>
</body>
</html>
