<html>
<head>
    <title>Registration And Login Forms</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
    #div1{
        text-align: center;
        font-size: 50px;
    }
    h1{
        text-align: center;
        font-size: 70px;
        margin: 30px 300px 40px 300px;
    }
    body{
        background-color:aquamarine;
    }
</style>
</head>
<body>
<h1 class="bg-primary text-white">Welcome to Durgasoft</h1>
<div id="div1">
<a href="/registration/">Registration</a><br>
<a href="/login/">Login</a>
</div>
</body>
</html>